{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{# special styling for logged in status, cause title bar contains login form #}
{% if logged_in %}
  {% set breadcrumb_classes = "uk-margin-small-top uk-margin-small-bottom" %}
{% endif %}

{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2 class="uk-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ul class="uk-breadcrumb uk-margin-small-left {{ breadcrumb_classes }}">
      {% for item in breadcrumb %}
        <li{{ attributes.addClass(is_active ? 'uk-active') }}>
          {% if item.url %}
            <a href="{{ item.url }}">
              {# add home icon to first link #}
              {% if loop.index == 1 %}
                <span uk-icon="icon: home; ratio: 0.85"></span>
              {% endif %}
              {{ item.text }}
            </a>
          {% else %}
            <span>{{ item.text }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
