{% set classes = [
  'uk-comment',
  'js-comment',
  status != 'published' ? 'comment--' ~ status,
  comment.owner.anonymous ? 'by-anonymous',
  author_id and author_id == commented_entity.getOwnerId() ? 'by-' ~ commented_entity.getEntityTypeId() ~ '-author',
  'clearfix',
] %}
<article role="article"{{ attributes.addClass(classes)|without('role') }}>
  <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
    <div class="uk-width-auto">
      <img class="uk-comment-avatar" src="http://lorempixel.com/85/85/people/" alt=""/>
    </div>
    <div class="uk-width-expand">
      {% if title %}
        {{ title_prefix }}
        <h4{{ title_attributes.addClass('uk-comment-title') }}>{{ comment.getSubject() }}</h4>
        {{ title_suffix }}
      {% endif %}
      <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-small">
        <li>{{ created }}</li>
        <li>{{ author }}</li>
        <li>{{ permalink }}</li>
      </ul>
    </div>
  </header>
  <div{{ content_attributes.addClass('uk-comment-body') }}>
    {{ content|without('links') }}
    {% if content.links %}
      <nav>{{ content.links }}</nav>
    {% endif %}
  </div>
</article>
