{% set classes = [
'uk-article',
'uk-visible-toggle'
] %}
<article{{ attributes.addClass(classes) }}>
  {{ label }}
  <header class="uk-position-relative">
    {% block node_header_meta %}
      <div class="uk-grid-medium uk-flex-top" uk-grid>
        <div class="uk-width-auto">
          {{ author_picture }}
        </div>
        <div class="uk-width-expand">
          <h4 class="uk-comment-title uk-margin-remove">{{ author_name }}</h4>
          <p class="uk-comment-meta uk-margin-remove-top">{{ date }}</p>
        </div>
      </div>
    {% endblock %}
  </header>
</article>

