{% set classes = [
  'uk-article',
  'uk-margin-bottom',
  'uk-box-shadow-small',
  'uk-padding-small',
  'uk-visible-toggle'
] %}
<article{{ attributes.addClass(classes) }}>
  <header class="uk-comment-header uk-position-relative">
    {% block node_header_meta %}
      <div class="uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-comment-avatar" src="http://lorempixel.com/55/55/people/" alt=""/>
        </div>
        <div class="uk-width-expand">
          <h4 class="uk-comment-title uk-margin-remove">{{ author_name }}</h4>
          <p class="uk-comment-meta uk-margin-remove-top">{{ date }}</p>
        </div>
      </div>
    {% endblock %}
    {% block node_header_links %}
      <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#block-discussion-answer">{{ 'Reply'|t }}</a></div>
    {% endblock %}
  </header>
  <div class="uk-comment-body">
    {% block node_body %}
      {{ content.field_legacy_content }}
      {{ content.field_content }}
    {% endblock %}
  </div>
</article>
{% block node_attachment_after %}
  {{ content.field_comments }}
{% endblock %}

