{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'uk-comment'
] %}

<article role="article"{{ attributes.addClass(classes)|without('role') }}>
  <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
    <div class="uk-width-auto">
      <img class="uk-comment-avatar" src="http://lorempixel.com/85/85/people/" alt=""/>
    </div>
    <div class="uk-width-expand">
      {% if title %}
        {{ title_prefix }}
        <h4{{ title_attributes.addClass('uk-comment-title') }}>{{ label }}</h4>
        {{ title_suffix }}
      {% endif %}
      <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-small">
        <li>{{ date }}</li>
        <li>{{ author_name }}</li>
        <li>{{ metadata }}</li>
      </ul>
    </div>
  </header>
  <div{{ content_attributes.addClass('uk-comment-body') }}>
    {{ content.body }}
    {{ content.field_files }}
  </div>
</article>
