{% set classes = [
'uk-box-shadow-small',
'uk-padding-small',
'uk-padding-remove-bottom',
'uk-margin-bottom',
'uk-visible-toggle'
] %}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  <h2{{ title_attributes.addClass('uk-text-large', 'uk-margin-remove', 'dc-heading') }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>
  {{ title_suffix }}
  {% if display_submitted %}
    <header class="uk-article-meta uk-margin-small-bottom">
      {{ author_name }} | {{ date }}
    </header>
  {% endif %}
  {# @todo set specific fields/ special styling for paragraphs ? #}
  {{ content }}
</article>
