{% set classes = [
  'uk-panel',
  'uk-panel',
  'uk-panel-header',
  'uk-margin-top',
] %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h3 class="uk-panel-title">{{ label }}</h3>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
