{{- attach_library('uikitty/search') -}}
<div id="header">
  <div class="header__full_width_dark">
    <div class="uk-container uk-container-center uk-contrast">
      {{ page.header }}
    </div>
  </div>
  <div class="header__full_width_navy">
    <div class="uk-container uk-container-center">
      <nav class="uk-navbar uk-contrast">
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
        {{ page.mainmenu }}
        <div class="uk-navbar-right">
          <div class="uk-navbar-content uk-contrast">
            <form>
              <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: search"></span>
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Search dummy">
              </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
{% if page.highlighted or page.help %}
  <div class="uk-container uk-container-center">
    <aside class="layout-container section clearfix" role="complementary">
      {{ page.highlighted }}
      {{ page.help }}
    </aside>
  </div>
{% endif %}

<div class="uk-container uk-container-center">
  {{ page.content }}
</div>

<div id="footer" class="footer__full_width_dark uk-contrast">
  <div class="uk-container uk-container-center uk-margin-large-top">
    {{ page.footer }}
  </div>
</div>
