{#
/**
 * @file
 * Theme override of node comments field.
 *
 * @see template_preprocess_field()
 */
#}
{% set comment_form_classes = [
  'uk-margin-left',
  'uk-box-shadow-small',
  'uk-padding-small'
] %}
{% if comments and not label_hidden %}
  {{ title_prefix }}
  <h2{{ title_attributes.addClass('dc-heading', 'uk-margin-left') }}>{{ label }}</h2>
  {{ title_suffix }}
  {{ comments }}
{% endif %}
<section{{ attributes.addClass(comment_form_classes) }}>
  {% if comment_form %}
    <h2 class="dc-heading">{{ 'Add new comment'|t }}</h2>
    {{ comment_form }}
  {% endif %}
</section>
